<ul class="{% if index is defined %}list-unstyled{% endif %} category">
  <li>
  {% if category.permalink == current.permalink %}
  {{ category.title }}
  {% else %}
  <a href="/categorias/{{ category.permalink }}">{{ category.title }}</a>
  {% endif %}

  {% for sub_category in category.children %}
    {% include '_category_tree_item.twig' with { 'category': sub_category, 'current': current } only %}
  {% endfor %}
  </li>
</ul>
