{% if settings.frontpage_collection is not empty %}
  {% set featured_collection = collections[settings.frontpage_collection] %}
  {% set products_per_row = settings.frontpage_products_per_row ?: 3 %}

  {% if featured_collection.products.count == 0 %}

    {% include '_featured-placeholder.twig' %}

  {% else %}

    {% for products_row in featured_collection.products | batch(products_per_row)  %}
    <div class="row">
      {% for product in products_row %}
      <div class="col-xs-12 col-sm-{{ 12 / products_per_row }}">
        {% include '_product.twig' %}
      </div>
      {% endfor %}
    </div>
    {% endfor %}

  {% endif %}

{% endif %}
