{% if errors is not empty %}
<div class="alert alert-danger fade in">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  {% for message in errors %}
  <div>{{ message }}</div>
  {% endfor %}
</div>
{% endif %}

{% if success is not empty %}
<div class="alert alert-success fade in">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  {% for message in success %}
  <div>{{ message }}</div>
  {% endfor %}
</div>
{% endif %}

{% if warning is not empty %}
<div class="alert alert-warning fade in">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  {% for message in warning %}
  <div>{{ message }}</div>
  {% endfor %}
</div>
{% endif %}
