$(document).ready(function() {
  if ($('.js-slider div').size() > 0) {
    $('.js-slider').slick({
      accessibility: true,
      dots: false,
      infinite: true,
      speed: 500,
      fade: true,
      cssEase: 'linear',
      adaptiveHeight: true,
      prevArrow: '<button type="button" class="slick-prev" tabindex=0><i class="fa fa-chevron-left"></i></button>',
      nextArrow: '<button type="button" class="slick-next" tabindex=0><i class="fa fa-chevron-right"></i></button>'
    });
  }

  {% if settings.enable_product_image_zoom %}
  if ($('#zoom').size() > 0) {
    $("#zoom").elevateZoom({ responsive: true, cursor: 'pointer', zoomType: 'lens', lensShape: 'round', lensSize: 200 });
  }
  {% endif %}

  if ($('.product__carousel div').size() > 0) {
    $('.product__carousel').on('click', '.slide a', function (e) {
      e.preventDefault();
      var image = $(this).data('image');
      {% if settings.enable_product_image_zoom %}
      var ez = $('#zoom').data('elevateZoom');
      ez.swaptheimage(image, image);
      {% else %}
      $('#zoom').attr("src", image);
      {% endif %}
      return false;
    });
  }

  $("li.dropdown-submenu > a").on("click", function() {
    $("li.dropdown-submenu").removeClass("open");
    if ($(this).parent("li.dropdown-submenu").hasClass("in-use")) {
      $(this).parents("li.dropdown-submenu").addClass("open");
      $(this).parent("li.dropdown-submenu").removeClass("open");
      $(this).parent("li.dropdown-submenu").removeClass("in-use");
      $(this).siblings('ul.dropdown-menu').children("li.dropdown-submenu").removeClass("open");
      $(this).siblings('ul.dropdown-menu').children("li.dropdown-submenu").removeClass("in-use");
    } else {
      $(this).parents("li.dropdown-submenu").addClass("open");
      $(this).parents("li.dropdown-submenu").addClass("in-use");
    }
    return false;
  });
});
