{% extends 'layout.twig' %}

{% block body %}
<div class="row">
  <div class="col-sm-12">
    <h1 class="section-title">Crea una cuenta</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-6">
    {% include '_register-form.twig' %}
  </div>
</div>
{% endblock %}
