{% extends 'layout.twig' %}

{% block body %}
<div class="row">
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    <h1 class="section-title">{{ collection.title }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    {% for products_row in products | batch(3) %}
    <div class="row">
      {% for product in products_row %}
      <div class="col-xs-12 col-sm-4">
        {% include '_product.twig' %}
      </div>
      {% endfor %}
    </div>
    {% endfor %}

  </div>
</div>

{% include '_pagination.twig' %}

{% endblock %}
