{% extends 'layout.twig' %}

{% block body %}
<div class="row">
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    <h1 class="section-title">¡Página no encontrada!</h1> 
    <h3>Lo sentimos, no pudímos encontrar la página que estas buscando.</h3> 
    <p>Puedes <a href="/">regresar al inicio</a></p>
  </div>
</div>
{% endblock %}
