{% extends 'layout.twig' %}

{% block body %}
<div class="row">
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    <h1 class="section-title">{{ page_title }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-8 col-md-offset-2">
  {% if products.count == 0 %}
    {% include '_products-placeholder.twig' %}
  {% else %}
    {% for products_row in products | batch(3) %}
    <div class="row">
      {% for product in products_row %}
      <div class="col-xs-12 col-sm-4">
        {% include '_product.twig' %}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
    {% include '_pagination.twig' %}
  {% endif %}
  </div>
</div>


{% endblock %}
