{% extends 'layout.twig' %}

{% block body %}

{% if not performed %}
<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <form method="get">
      <div class="form-group">
        <label for="q">Buscar:</label>
        <input type="text" class="form-control" name="q">
      </div>

      <div class="form-group">
        <button type="submit" class="btn pull-right">Buscar</button>
      </div>
    </form>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    <h3 class="text-center section-title">Resultados de la búsqueda para: "{{ search }}"</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    {% if results.products | length == 0 %}
    <div class="text-center">
      <h5>No se encontraron productos con los términos de búsqueda.</h5>
    </div>
    {% else %}
      {% for products_row in results.products | batch(3) %}
      <div class="row">
        {% for product in products_row %}
        <div class="col-xs-12 col-sm-4">
          {% include '_product.twig' %}
        </div>
        {% endfor %}
      </div>
      {% endfor %}
      {% include '_pagination.twig' %}
    {% endif %}
  </div>
</div>
{% endif %}

{% endblock %}
